@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.body{
   font-family: 'Roboto', sans-serif;
   background-color: #e5e5f7;
   opacity: 0.8;
   background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
   background-size: 10px 10px;
   display: flex;
   min-height: 100vh;

}

.header{
    background: #1488cc;
    background: -webkit-linear-gradient(to right, #283282,1488cc);
    background: linear-gradient(to right, #283282,1488cc);

}
.card-header{
background:#1488cc;
background: -webkit-linear-gradient(to right, #283282,1488cc);
background: linear-gradient(to right, #283282,1488cc);
color: #283282;
text-align: center;

}

.form_group{
    position: relative;
    background-color:#fff;
    margin: auto;
    width: 90%;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%);
    text-align: left;  
    margin-top: 3em;
    display:grid;
    --color:#5757577e;
    
}
.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;

}
.form_submit{
    background-color: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;

}
@media only screen and (max-width: 500px) {
    body{
        background: transparent;
    }
    .card-header{
        display: flex;
    }
    .header{
        text-align: center;
        padding-right: 0px;
    }
    form{
        box-shadow: none;
    }
}

.form_checkbox{
    display:flex;
    align-items: start;


    }
#doNotCall{
margin: 5px;

}


#emailOptOut{
    margin: 5px;
    }